/* :root {
  --primary-50: #F1F9FE;
  --secondary-50: #F1FCFA;
  --secondary-100: #D1F6F1;
  --secondary-200: #A3ECE5;
  --secondary-300: #6DDBD3;
  --secondary-400: #3FC2BD;
  --secondary-500: #25A19F;
  --secondary-600: #1C8485;
  --secondary-700: #1A6A6B;
  --secondary-800: #1A5255;
  --secondary-900: #1A4647;
  --secondary-950: #09282A;
  --secondary: var(--secondary-500);
  --primary-100: #E1F2FD;
  --primary-200: #BDE6FA;
  --primary-300: #83D3F6;
  --primary-400: #41BCEF;
  --primary-500: #18A4DF;
  --primary-600: #0B84BE;
  --primary-700: #0B6999;
  --primary-800: #0D597F;
  --primary-900: #104765;
  --primary-950: #0B2F46;
  --primary: var(--primary-900);
  --fix-white: #fff;
  --fix-black: #000;
}

 */
